<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YAGCI_SHIPPING.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YAGCI_SHIPPING.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <YAGCI_SHIPPING.Properties.Settings>
            <setting name="ProgramMod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FIRMA" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="constr" serializeAs="String">
                <value>XpoProvider=MSSqlServer;packet size=4096;data source=192.168.2.10\SQL2005;persist security info=False;initial catalog=YGSHP;Connect Timeout=50;User=sa;Password=1;Pooling=False</value>
            </setting>
            <setting name="XPO" serializeAs="String">
                <value />
            </setting>
        </YAGCI_SHIPPING.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <YAGCI_SHIPPING.Properties.Settings>
            <setting name="YAGCI_SHIPPING_serv_serv" serializeAs="String">
                <value>http://10.1.1.56/ys/serv.asmx</value>
            </setting>
        </YAGCI_SHIPPING.Properties.Settings>
    </applicationSettings>
</configuration>